#Labels

In [41]:
import pandas as pd

data = {
    'Tên': ['Alice', 'Bob', 'Charlie'],
    'Tuổi': [25, 30, 35],
    'Năm Sinh': [2002, 2003,2004],
    'Môn':['Toán', 'Văn','Anh']
}

df = pd.DataFrame(data)

In [43]:
#gán nhãn cột
df.index=['A','B','Ç']
print(df)

       Tên  Tuổi  Năm Sinh   Môn
A    Alice    25      2002  Toán
B      Bob    30      2003   Văn
Ç  Charlie    35      2004   Anh

In [49]:
#thay đổi tên nhãn cột
df.rename(columns={'Tên': 'Tênn'}, inplace=True)
print(df)

      Tênn  Tuổi  Năm Sinh   Môn
A    Alice    25      2002  Toán
B      Bob    30      2003   Văn
Ç  Charlie    35      2004   Anh

In [55]:
#Xoá hàng, cột
df.drop('Môn', axis=1, inplace=True) #axis=0
print(df)

      Tênn  Tuổi  Năm Sinh
A    Alice    25      2002
B      Bob    30      2003
Ç  Charlie    35      2004

In [63]:
#loc`**: Truy cập một nhóm hàng và cột bằng nhãn.
#df.loc[row_indexer, column_indexer]
df.loc[:,'Tuổi']

A    25
B    30
Ç    35
Name: Tuổi, dtype: int64

In [67]:
#**`iloc`**: Truy cập một nhóm hàng và cột bằng chỉ số vị trí.
df.iloc[2,2]

2004

In [71]:
#**`filter`**: Lọc các cột hoặc hàng theo điều kiện.
#   df.filter(items=['column1', 'column2'])
df.filter(items=[2,2])

Empty DataFrame
Columns: []
Index: [A, B, Ç]

In [75]:
#**`groupby`**: Nhóm dữ liệu theo một hoặc nhiều cột.
#df.groupby('column_name').agg({'another_column': 'sum'})
df.groupby('Năm Sinh').agg({'Tuổi': 'sum'})

          Tuổi
Năm Sinh
2002        25
2003        30
2004        35

In [77]:
print(df)

      Tênn  Tuổi  Năm Sinh
A    Alice    25      2002
B      Bob    30      2003
Ç  Charlie    35      2004

In [91]:
#**`merge`**: Kết hợp hai DataFrame.
   #pd.merge(df1, df2, on='key_column')
Data1={'Weak':[2,3,4],
    'Weather':['rain','sunny','cloudy']
}
Data2={'Weak':[4,5,6],
    'Weather':['rain1','sunny2','cloudy3']
}
df1=pd.DataFrame(Data1)
df2=pd.DataFrame(Data2)


# Kết hợp hai DataFrame dựa trên cột 'Weak'
merged_df = pd.merge(df1, df2, on='Weak', how='inner')

# Hiển thị kết quả
merged_df

   Weak Weather_x Weather_y
0     4    cloudy     rain1

1. **`inner`**: Kết hợp nội (inner join) - chỉ giữ lại các hàng có giá trị chung trong cả hai DataFrame. Đây là giá trị mặc định nếu bạn không chỉ định tham số `how`.

2. **`outer`**: Kết hợp ngoài (outer join) - giữ lại tất cả các hàng từ cả hai DataFrame. Nếu không có giá trị tương ứng, các ô sẽ được điền bằng NaN.

3. **`left`**: Kết hợp trái (left join) - giữ lại tất cả các hàng từ DataFrame bên trái và chỉ các hàng tương ứng từ DataFrame bên phải. Nếu không có giá trị tương ứng, các ô sẽ được điền bằng NaN.

4. **`right`**: Kết hợp phải (right join) - giữ lại tất cả các hàng từ DataFrame bên phải và chỉ các hàng tương ứng từ DataFrame bên trái. Nếu không có giá trị tương ứng, các ô sẽ được điền bằng NaN.

Tóm lại, các loại `how` trong `pd.merge()` là:
- `inner`
- `outer`
- `left`
- `right`

In [94]:
#nối 2 hay nhiều dataframe
pd.concat([df1, df2], axis=0)

   Weak  Weather
0     2     rain
1     3    sunny
2     4   cloudy
0     4    rain1
1     5   sunny2
2     6  cloudy3

In [98]:
# Kết hợp hai DataFrame dựa trên cột 'Weak'
merged_df = pd.merge(df1, df2, on='Weak', how='outer', suffixes=('_df1', '_df2'))

# Tạo bảng pivot
pivot_table = merged_df.pivot_table(index='Weak', values=['Weather_df1', 'Weather_df2'], aggfunc='first')

# Hiển thị kết quả
pivot_table

     Weather_df1 Weather_df2
Weak
2           rain        None
3          sunny        None
4         cloudy       rain1
5           None      sunny2
6           None     cloudy3

In [102]:
#thay thế giá trị NaN bằng giá trị khác.
df.fillna(2002)

      Tênn  Tuổi  Năm Sinh
A    Alice    25      2002
B      Bob    30      2003
Ç  Charlie    35      2004

In [122]:
#**`apply`**: Áp dụng một hàm cho mỗi hàng hoặc cột.
print('Ban dau:')
print(df)
increased_ages=df['Tuổi'].apply(lambda x: x + 1)
print('')
print('Sau:')
print(increased_ages)

Ban dau:
      Tênn  Tuổi  Năm Sinh
A    Alice    25      2002
B      Bob    30      2003
Ç  Charlie    35      2004

Sau:
A    26
B    31
Ç    36
Name: Tuổi, dtype: int64

Trong pandas, có nhiều lệnh và phương thức liên quan đến nhãn (labels) mà bạn có thể sử dụng để thao tác với DataFrame. Dưới đây là một số lệnh phổ biến:

1. **`set_index()`**: Thiết lập một hoặc nhiều cột làm chỉ số (index) cho DataFrame. Điều này cho phép bạn sử dụng các giá trị trong cột đó làm nhãn hàng.

   
   df.set_index('Tên', inplace=True)
   




2. **`reset_index()`**: Đặt lại chỉ số về mặc định (0, 1, 2, ...). Bạn có thể giữ lại chỉ số cũ như một cột mới bằng cách sử dụng tham số `drop=False`.

   
   df.reset_index(drop=False, inplace=True)
   




3. **`rename_axis()`**: Đổi tên cho trục (axis) của DataFrame, có thể là nhãn hàng hoặc nhãn cột.

   
   df.rename_axis('Hàng', axis=0, inplace=True)  # Đổi tên nhãn hàng
   df.rename_axis('Cột', axis=1, inplace=True)  # Đổi tên nhãn cột
   




4. **`iloc[]`**: Truy cập hàng và cột bằng chỉ số vị trí (integer location) thay vì nhãn. Điều này hữu ích khi bạn không biết nhãn hoặc muốn truy cập theo vị trí.

   
   df.iloc[0, 1]  # Truy cập giá trị ở hàng đầu tiên và cột thứ hai
   




5. **`loc[]`**: Truy cập hàng và cột bằng nhãn. Đây là cách chính để truy cập dữ liệu dựa trên nhãn.

   
   df.loc['A', 'Age']  # Truy cập giá trị ở hàng có nhãn 'A' và cột 'Age'
   




6. **`columns`**: Thuộc tính này cho phép bạn truy cập và thay đổi nhãn cột của DataFrame.

   
   df.columns = ['New_Name1', 'New_Name2']  # Đổi tên tất cả các cột
   




7. **`index`**: Tương tự như `columns`, thuộc tính này cho phép bạn truy cập và thay đổi nhãn hàng của DataFrame.

   
   df.index = ['Row1', 'Row2', 'Row3']  # Đổi tên tất cả các hàng
   




8. **`drop()`**: Xóa hàng hoặc cột dựa trên nhãn. Bạn có thể chỉ định tham số `axis` để xác định xem bạn muốn xóa hàng (axis=0) hay cột (axis=1).

   
   df.drop('Age', axis=1, inplace=True)  # Xóa cột 'Age'
   




9. **`filter()`**: Lọc các cột hoặc hàng dựa trên nhãn. Bạn có thể sử dụng các điều kiện để chọn các nhãn cụ thể.

   
   df.filter(like='A', axis=1)  # Lọc các cột có chứa 'A' trong tên
   




Những lệnh và phương thức này rất hữu ích trong việc quản lý và thao tác với nhãn trong DataFrame, giúp bạn dễ dàng truy cập và xử lý dữ liệu theo cách bạn muốn.